/* Navbar.css */

.navbar {
  display: flex;
  top:0;
  left: 0;
  width: 100;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: white;
  padding: 12px 24px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  margin: 0;
  position : relative
}
.logo {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.pfp {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid #444;
}

.btn {
  background: #00bfa6;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 500;
}

.btn:hover {
  background: #02a38e;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
